[Unit]
Description=DHCP Relay Agent Daemon
Documentation=man:dhcrelay(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
# 172.20.0.1 = undercloud introspection dhcp server
# 172.20.0.10 = undercloud neutron dhcp server
ExecStart=/usr/local/sbin/dhcrelay -d --no-pid 172.20.0.10 172.20.0.1 -iu ctlplane0 -id ctlplane1 -id ctlplane2 -id ctlplane3
StandardError=null

[Install]
WantedBy=multi-user.target

